{
    "name": "NATNet",
    "url": "https://www.zhichaolu.com/assets/neural-architecture-transfer/pretrained/food101/net-img@252-flops@198-top1@87.4/net.weights",
    "bn": {
        "momentum": 0.1,
        "eps": 1e-05
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 3,
        "out_channels": 16,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 16,
                "out_channels": 16,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 1,
                "mid_channels": null,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    16
                ],
                "out_channels": [
                    16
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 16,
                "out_channels": 24,
                "kernel_size": 3,
                "stride": 2,
                "expand_ratio": 3,
                "mid_channels": 48,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 24,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 72,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    24
                ],
                "out_channels": [
                    24
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 40,
                "kernel_size": 5,
                "stride": 2,
                "expand_ratio": 3,
                "mid_channels": 72,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 40,
                "out_channels": 40,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 160,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    40
                ],
                "out_channels": [
                    40
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 40,
                "out_channels": 80,
                "kernel_size": 3,
                "stride": 2,
                "expand_ratio": 4,
                "mid_channels": 160,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 80,
                "out_channels": 80,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 240,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    80
                ],
                "out_channels": [
                    80
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 80,
                "out_channels": 112,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 4,
                "mid_channels": 320,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 112,
                "out_channels": 112,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": 336,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    112
                ],
                "out_channels": [
                    112
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 112,
                "out_channels": 160,
                "kernel_size": 3,
                "stride": 2,
                "expand_ratio": 6,
                "mid_channels": 672,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 160,
                "out_channels": 160,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": 960,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    160
                ],
                "out_channels": [
                    160
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "final_expand_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 160,
        "out_channels": 960,
        "use_bn": true,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 960,
        "out_channels": 1280,
        "use_bn": false,
        "act_func": "h_swish",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 1280,
        "out_features": 101,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0.0,
        "ops_order": "weight_bn_act"
    }
}